* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  min-height: 200vh; /* fait deux fois la taille de l'écran utilisateur*/
  overflow-x: hidden;
}

/* -------------------------- header -------------------------------*/

header {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

/* ----------------------- ensemble titre h1 et h2 ------------------------------*/

.titres {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
h1 {
  font-size: xx-large;
}

h2 {
  font-weight: normal;
}

/* ----------------------- barre de recherche ---------------------------*/

form {
  position: relative;
  border: none;
}

input {
  padding-left: 10px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.fa-search {
  position: absolute;
  right: 4px;
  bottom: 16px;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.541);
}

/* ---------------- menu nav des 3 éléments -------------------------*/

.menu-nav {
  display: flex;
  cursor: pointer;
}

.liste-nav:nth-child(1) {
  margin-left: -35px;
}

.menu:hover,
.contenu:hover,
.plan-du-site:hover {
  color: rgba(0, 0, 255, 0.575);
  transition: 0.3s;
}

/* ------------------------------ section barre --------------------------*/

/* -------------------- ligne au dessus border-top     ---------------------*/
.border-top {
  border-top: 2px solid rgba(0, 0, 0, 0.603);
  width: 100%;
  left: 5px;
  position: absolute;
}
/* ------------------- ligne en dessous border-bottom ------------------*/

.border-bottom {
  border-top: 2px solid rgba(0, 0, 0, 0.603);
  width: 100%;
  left: 5px;
  position: absolute;
}

.barre-info {
  width: 70%;
  margin: auto;
  cursor: pointer;
}

.liste-barre {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}

.ambassade,
.service-citoyens,
.visas-pour-france,
.vivre-au-japon,
.presence-francaise,
.actualites,
.coronavirus {
  border-right: 1px solid black;
  padding-right: 15px;
  height: 30px;
}

.ambassade:hover,
.service-citoyens:hover,
.visas-pour-france:hover,
.vivre-au-japon:hover,
.presence-francaise:hover,
.actualites:hover,
.coronavirus:hover {
  color: rgba(0, 0, 255, 0.575);
  transition: 0.3s;
}

/* ----------------- images slides ------------------------*/

.slide1,
.slide2,
.slide3 {
  width: 1000px;
  height: auto;
}

.slide {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 65px;
}

/* ----------------------------------- section actualités + section ----------------------*/

.ensemble-actualites-aside {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 65.8%;
  margin-top: 30px;
}

/* ----------------------- titre "actualités" ------------------------------*/

.titre-principal-actualite {
  margin-left: 20px;
  color: #104591;
}

/* -------------------------------- section actualités ------------------*/
.box-actualites {
  height: 990px;
  width: 600px;
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-top: 4px solid #6d2178;
}

/* ----------------- span ---------------------*/

.article1,
.article2,
.article3,
.article4,
.article5 {
  display: flex;
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.article1-img,
.article2-img,
.article3-img,
.article4-img,
.article5-img {
  width: 220px;
  height: 130px;
  margin-left: 20px;
  margin-bottom: 20px;
}

span {
  position: absolute;
  font-size: small;
  color: rgba(0, 0, 0, 0.507);
  top: -5px;
}

.article1-h3,
.article2-h3,
.article3-h3,
.article4-h3,
.article5-h3 {
  font-size: 15px;
}

.article1-h3:hover,
.article2-h3:hover,
.article3-h3:hover,
.article4-h3:hover,
.article5-h3:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.article1-p,
.article2-p,
.article3-p,
.article4-p,
.article5-p {
  font-size: 11px;
  margin-top: -5px;
}

.ensemble-article1,
.ensemble-article2,
.ensemble-article3,
.ensemble-article4,
.ensemble-article5 {
  padding-left: 10px;
  width: 100%;
}

/* ----------------------- box aside ---------------------------------*/

.infosGenerales {
  width: 300px;
}

.coordonnees,
.accesRapide,
.infos-utiles,
.liens-utiles,
.reseaux-sociaux {
  border-top: 4px solid #104591;
  border-left: 1px solid rgba(128, 128, 128, 0.541);
  border-right: 1px solid rgba(128, 128, 128, 0.541);
  border-bottom: 1px solid rgba(128, 128, 128, 0.753);
  background-color: #f8f7f7;
  margin-bottom: 30px;
}
/* ----------------------- titres h3 de chaque boite aside -------------------*/

.accesRapide-h3,
.infos-utiles-h3,
.liens-utiles-h3,
.reseaux-sociaux-h3 {
  color: rgba(0, 0, 255, 0.575);
  padding-left: 15px;
}

.coordonnees-h3 {
  color: rgba(0, 0, 255, 0.575);
  margin-left: 15px;
}

/* --------------------------------- texte p et ul de chaque boite aside ------------------*/

.coordonnees-p,
.accesRapide-ul,
.infos-utiles-ul,
.liens-utiles-ul {
  padding-left: 15px;
  cursor: pointer;
  font-size: small;
}

/* ------------ hover sur les boites acces rapide / infos utiles/ liens utiles ---------*/

.accesRapide-ul li:hover,
.infos-utiles-ul li:hover,
.liens-utiles-ul li:hover {
  text-decoration: underline;
  transition: 0.2s;
  cursor: pointer;
}

/* --------------------------- espace entre chaque lignes de texte -------------------*/

.accesRapide-ul li,
.infos-utiles-ul li,
.liens-utiles-ul li {
  padding-bottom: 5px;
}

/* ----------------- icônes des réseaux sociaux ------------*/

.fa-twitter-square,
.fa-facebook-square,
.fa-instagram,
.fa-youtube {
  font-size: 55px;
}

.icones {
  text-align: center;
  padding-bottom: 10px;
  cursor: pointer;
}

.fa-twitter-square {
  color: #00b6ef;
}

.fa-facebook-square {
  color: #0061a8;
}

.fa-youtube {
  color: #fd0100;
}

/* --------------------- nouvelle section -----------------------------*/
/* --------------------- ensemble de "agenda" "culture" et "nous trouver" -----------*/

/* .ensemble1-3 {
  display: flex;
  flex-direction: column;
} */
/* ----------------------- agenda et culture et noustrouver boxes -----------------------*/

.agenda,
.culture,
.noustrouver,
.actualites-diplomatiques,
.economie,
.sciences-technologies,
.activite-sociale,
.lettre-information {
  border-top: 4px solid #104591;
  border-left: 1px solid rgba(128, 128, 128, 0.541);
  border-right: 1px solid rgba(128, 128, 128, 0.541);
  border-bottom: 1px solid rgba(128, 128, 128, 0.753);
  background-color: #f8f7f7;
  width: 300px;
}

.actualites-diplomatiques,
.economie,
.sciences-technologies {
  width: 236px;
}

.culture,
.noustrouver,
.economie,
.sciences-technologies {
  margin-top: 25px;
}

.lettre-information {
  margin-top: 60px;
}

/*------------ box ensemble2-3 -------------------*/

.actualites-diplomatiques-h3,
.economie-h3,
.sciences-technologies-h3,
.agenda-h3,
.culture-h3,
.noustrouver-h3,
.activite-sociale-h3,
.lettre-information-h3 {
  padding-left: 10px;
  color: #104591;
}

.actualites-diplomatiques-ul,
.economie-ul,
.sciences-technologies-ul,
.culture-ul {
  font-size: small;
  padding: 0;
}

.actualites-diplomatiques-ul li,
.economie-ul li,
.sciences-technologies-ul li,
.culture-ul li,
.lettre-information-p {
  padding-bottom: 10px;
  padding-left: 10px;
}

.actualites-diplomatiques-ul li:hover,
.economie-ul li:hover,
.sciences-technologies-ul li:hover,
.culture-ul li:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

/* --------------- ensemble3-3 -----------------------*/

.activite-sociale {
  padding-bottom: 655px;
}

.lettre-information {
  position: relative;
}

#lettre-info-span {
  position: absolute;
  top: -20px;
  left: 10px;
  color: #104591;
}

input {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 220px;
}

button {
  margin-left: -4px;
  border: none;
  background: white;
  color: #104591;
}

.activite-sociale {
  position: relative;
}

#activite-sociale-span {
  top: 50px;
  left: 10px;
  position: absolute;
}

/* ------------------------- image google map ---------------*/

.img-noustrouver {
  width: 90%;
  margin-left: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

/* ----------------- bloc violet date ---------------------*/
.bloc-violet {
  width: 60px;
  height: 80px;
  background-color: #8f319d;
  margin-left: 10px;
}

.text-agenda1,
.text-agenda2 {
  font-size: small;
}

.day,
.month {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.month {
  background: #6d2178;
  height: 30px;
  padding-top: 5px;
}

.bloc-violet a {
  text-decoration: none;
  text-align: center;
}

/* ------------------------- ensemble  : 22 avril et 1/08 ------------------*/

.agenda1-2,
.agenda2-2 {
  display: flex;
  position: relative;
}

/* ------------------------- texte ------------------------*/

.agenda1-2 p,
.agenda2-2 p {
  font-weight: bold;
}

/* ------------------------ div regroupant le texte seulement ------------*/

.ensemble-agenda1-2,
.ensemble-agenda2-2 {
  padding-left: 10px;
}
.box-infos2 {
  display: flex;
  width: 66%;
  margin: auto;
  justify-content: space-between;
}

/* --------------------------- footer ---------------*/

footer {
  display: flex;
  background-color: #323136;
  justify-content: space-evenly;
  margin-top: 50px;
}

.titre-footer1,
.titre-footer2,
.titre-footer3 {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.footer-ul1 li,
.footer-ul2 li,
.footer-ul3 li {
  font-size: small;
  padding-top: 10px;
  color: white;
}

.footer-ul1 li:hover,
.footer-ul2 li:hover,
.footer-ul3 li:hover {
  text-decoration: underline;
  transition: 0.4s;
  cursor: pointer;
}

.titre-footer1,
.titre-footer2,
.titre-footer3 {
  font-size: larger !important;
}

.titre-footer1:hover,
.titre-footer2:hover,
.titre-footer3 {
  text-decoration: none !important;
}

/* --------------------- media query ------------------*/

@media only screen and (min-width: 399px) and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .liste-nav {
    display: flex;
  }

  .contenu {
    margin-left: 10px;
    margin-right: 10px;
  }

  .barre-de-recherche {
    margin-top: -20px;
    margin-left: -10px;
    width: 150px;
  }

  .fa-search {
    left: 210px;
  }
  .barre-info {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    justify-content: center;
  }
  .liste-barre {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .ambassade,
  .service-citoyens,
  .visas-pour-france,
  .vivre-au-japon,
  .presence-francaise,
  .actualites,
  .coronavirus {
    border: none;
    text-align: center;
  }

  .border-bottom,
  .border-top {
    border-top: none;
  }

  /* ------------------- slides --------------*/

  .slide {
    display: none;
  }

  /* ------------ ensemble section & aside ------------------*/

  .ensemble-actualites-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* ------------------- box actualités --------------*/

  .box-actualites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
  }

  .testons {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .box-actualites span {
    top: 140px;
    left: 18px;
  }

  .article1,
  .article2,
  .article3,
  .article4,
  .article5 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* -------------------- aside --------------------------*/

  .infosGenerales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  /* ---------------box agenda et cie ------------------ */

  .box-infos2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .ensemble1-3,
  .ensemble2-3,
  .ensemble3-3 {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .actualites-diplomatiques,
  .activite-sociale {
    margin-top: 30px;
  }

  /* ---------------- footer ----------------------*/

  footer {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* ------------------------ barre info -------------*/

  .barre-info {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    justify-content: center;
  }
  .liste-barre {
    display: flex;

    padding-top: 10px;
  }

  .ambassade,
  .service-citoyens,
  .visas-pour-france,
  .vivre-au-japon,
  .presence-francaise,
  .actualites,
  .coronavirus {
    border: none;
  }

  .slide {
    display: none;
  }

  .box-actualites {
    height: auto;
    margin-right: 25px;
    margin-bottom: 20px;
  }

  .box-infos2 {
    display: flex;
    flex-wrap: wrap;
  }
}
