* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  min-height: 200vh; /* fait deux fois la taille de l'écran utilisateur*/
  overflow-x: hidden;
}

/* -------------------------- header -------------------------------*/

header {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

/* ----------------------- ensemble titre h1 et h2 ------------------------------*/

.titres {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

h2 {
  font-weight: normal;
}

/* ----------------------- barre de recherche ---------------------------*/

form {
  position: relative;
  border: none;
}

input {
  padding-left: 10px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.fa-search {
  position: absolute;
  right: 4px;
  bottom: 2px;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.541);
}

/* ---------------- menu nav des 3 éléments -------------------------*/

.menu-nav {
  display: flex;
  cursor: pointer;
}

.liste-nav:nth-child(1) {
  margin-left: -35px;
}

.menu:hover,
.contenu:hover,
.plan-du-site:hover {
  color: rgba(0, 0, 255, 0.575);
  transition: 0.3s;
}

/* ------------------------------ section barre --------------------------*/

/* -------------------- ligne au dessus border-top     ---------------------*/
.border-top {
  border-top: 2px solid rgba(0, 0, 0, 0.603);
  width: 100%;
  left: 5px;
  position: absolute;
}
/* ------------------- ligne en dessous border-bottom ------------------*/

.border-bottom {
  border-top: 2px solid rgba(0, 0, 0, 0.603);
  width: 100%;
  left: 5px;
  position: absolute;
}

.barre-info {
  width: 70%;
  margin: auto;
  cursor: pointer;
}

.liste-barre {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}

.ambassade,
.service-citoyens,
.visas-pour-france,
.vivre-au-japon,
.presence-francaise,
.actualites,
.coronavirus {
  border-right: 1px solid black;
  padding-right: 15px;
  height: 30px;
}

.ambassade:hover,
.service-citoyens:hover,
.visas-pour-france:hover,
.vivre-au-japon:hover,
.presence-francaise:hover,
.actualites:hover,
.coronavirus:hover {
  color: rgba(0, 0, 255, 0.575);
  transition: 0.3s;
}

/* ----------------- images slides ------------------------*/

.slide1,
.slide2,
.slide3 {
  width: 1000px;
  height: auto;
}

.slide {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 65px;
}

/* ----------------------------------- section actualités + section ----------------------*/

.ensemble-actualites-aside {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 65.8%;
  margin-top: 30px;
}

/* ----------------------- titre "actualités" ------------------------------*/

.titre-principal-actualite {
  margin-left: 20px;
  color: #104591;
}

/* -------------------------------- section actualités ------------------*/
.box-actualites {
  height: 1000px;
  width: 600px;
  border: 3px solid rgba(0, 0, 0, 0.61);
}
.infosGenerales {
  width: 300px;
}

.article1 {
  display: flex;
  width: 100%;
}

.article1-img1 {
  width: 220x;
  height: 120px;
}
