* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  min-height: 200vh; /* fait deux fois la taille de l'écran utilisateur*/
  overflow-x: hidden;
}

/* -------------------------- header -------------------------------*/

header {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

/* ----------------------- ensemble titre h1 et h2 ------------------------------*/

.titres {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

h2 {
  font-weight: normal;
}

/* ----------------------- barre de recherche ---------------------------*/

form {
  position: relative;
  border: none;
}

input {
  padding-left: 10px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.fa-search {
  position: absolute;
  right: 4px;
  bottom: 2px;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.541);
}

/* ---------------- menu nav des 3 éléments -------------------------*/

.menu-nav {
  display: flex;
  cursor: pointer;
}

.liste-nav:nth-child(1) {
  margin-left: -35px;
}

.menu:hover,
.contenu:hover,
.plan-du-site:hover {
  color: rgba(0, 0, 255, 0.575);
  transition: 0.3s;
}

/* ------------------------------ section barre --------------------------*/

/* -------------------- ligne au dessus border-top     ---------------------*/
.border-top {
  border-top: 2px solid rgba(0, 0, 0, 0.603);
  width: 100%;
  left: 5px;
  position: absolute;
}
/* ------------------- ligne en dessous border-bottom ------------------*/

.border-bottom {
  border-top: 2px solid rgba(0, 0, 0, 0.603);
  width: 100%;
  left: 5px;
  position: absolute;
}

.barre-info {
  width: 70%;
  margin: auto;
  cursor: pointer;
}

.liste-barre {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}

.ambassade,
.service-citoyens,
.visas-pour-france,
.vivre-au-japon,
.presence-francaise,
.actualites,
.coronavirus {
  border-right: 1px solid black;
  padding-right: 15px;
  height: 30px;
}

.ambassade:hover,
.service-citoyens:hover,
.visas-pour-france:hover,
.vivre-au-japon:hover,
.presence-francaise:hover,
.actualites:hover,
.coronavirus:hover {
  color: rgba(0, 0, 255, 0.575);
  transition: 0.3s;
}

/* ----------------- images slides ------------------------*/

.slide1,
.slide2,
.slide3 {
  width: 1000px;
  height: auto;
}

.slide {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 65px;
}

/* ----------------------------------- section actualités + section ----------------------*/

.ensemble-actualites-aside {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 65.8%;
  margin-top: 30px;
}

/* ----------------------- titre "actualités" ------------------------------*/

.titre-principal-actualite {
  margin-left: 20px;
  color: #104591;
}

/* -------------------------------- section actualités ------------------*/
.box-actualites {
  height: 990px;
  width: 600px;
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-top: 4px solid #6d2178;
}

/* ----------------- span ---------------------*/

.article1,
.article2,
.article3,
.article4,
.article5 {
  display: flex;
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.article1-img,
.article2-img,
.article3-img,
.article4-img,
.article5-img {
  width: 220px;
  height: 130px;
  margin-left: 20px;
  margin-bottom: 20px;
}

span {
  position: absolute;
  font-size: small;
  color: rgba(0, 0, 0, 0.507);
  top: -5px;
}

.article1-h3,
.article2-h3,
.article3-h3,
.article4-h3,
.article5-h3 {
  font-size: 15px;
}

.article1-h3:hover,
.article2-h3:hover,
.article3-h3:hover,
.article4-h3:hover,
.article5-h3:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.article1-p,
.article2-p,
.article3-p,
.article4-p,
.article5-p {
  font-size: 11px;
  margin-top: -5px;
}

.ensemble-article1,
.ensemble-article2,
.ensemble-article3,
.ensemble-article4,
.ensemble-article5 {
  padding-left: 10px;
  width: 100%;
}

/* ----------------------- box aside ---------------------------------*/

.infosGenerales {
  width: 300px;
}

.coordonnees,
.accesRapide,
.infos-utiles,
.liens-utiles,
.reseaux-sociaux {
  border-top: 4px solid #104591;
  border-left: 1px solid rgba(128, 128, 128, 0.541);
  border-right: 1px solid rgba(128, 128, 128, 0.541);
  border-bottom: 1px solid rgba(128, 128, 128, 0.753);
  background-color: #f8f7f7;
  margin-bottom: 30px;
}
/* ----------------------- titres h3 de chaque boite aside -------------------*/

.accesRapide-h3,
.infos-utiles-h3,
.liens-utiles-h3,
.reseaux-sociaux-h3 {
  color: rgba(0, 0, 255, 0.575);
  padding-left: 15px;
}

.coordonnees-h3 {
  color: rgba(0, 0, 255, 0.575);
  margin-left: 15px;
}

/* --------------------------------- texte p et ul de chaque boite aside ------------------*/

.coordonnees-p,
.accesRapide-ul,
.infos-utiles-ul,
.liens-utiles-ul {
  padding-left: 15px;
  cursor: pointer;
  font-size: small;
}

/* ------------ hover sur les boites acces rapide / infos utiles/ liens utiles ---------*/

.accesRapide-ul li:hover,
.infos-utiles-ul li:hover,
.liens-utiles-ul li:hover {
  text-decoration: underline;
  transition: 0.2s;
  cursor: pointer;
}

/* --------------------------- espace entre chaque lignes de texte -------------------*/

.accesRapide-ul li,
.infos-utiles-ul li,
.liens-utiles-ul li {
  padding-bottom: 5px;
}

/* ----------------- icônes des réseaux sociaux ------------*/

.fa-twitter-square,
.fa-facebook-square,
.fa-instagram,
.fa-youtube {
  font-size: 55px;
}

.icones {
  text-align: center;
  padding-bottom: 10px;
  cursor: pointer;
}

.fa-twitter-square {
  color: #00b6ef;
}

.fa-facebook-square {
  color: #0061a8;
}

.fa-youtube {
  color: #fd0100;
}

/* --------------------- nouvelle section -----------------------------*/
/* --------------------- ensemble de "agenda" "culture" et "nous trouver" -----------*/

/* .ensemble1-3 {
  display: flex;
  flex-direction: column;
} */
/* ----------------------- agenda et culture et noustrouver boxes -----------------------*/

.agenda,
.culture,
.noustrouver {
  border-top: 4px solid #104591;
  border-left: 1px solid rgba(128, 128, 128, 0.541);
  border-right: 1px solid rgba(128, 128, 128, 0.541);
  border-bottom: 1px solid rgba(128, 128, 128, 0.753);
  background-color: #f8f7f7;
  width: 25%;
}

/* ----------------- bloc violet date ---------------------*/
.bloc-violet {
  width: 60px;
  height: 80px;
  background-color: #8f319d;
}

.day,
.month {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.month {
  background: #6d2178;
  height: 30px;
  padding-top: 5px;
}

.bloc-violet a {
  text-decoration: none;
  text-align: center;
}

/* ------------------------- ensemble  : 22 avril et 1/08 ------------------*/

.agenda1-2,
.agenda2-2 {
  display: flex;
  position: relative;
}

/* ------------------------- texte ------------------------*/

.agenda1-2 p,
.agenda2-2 p {
  font-weight: bold;
}

/* ------------------------ div regroupant le texte seulement ------------*/

.ensemble-agenda1-2,
.ensemble-agenda2-2 {
  padding-left: 10px;
}
